<div class="big-padding"></div>
<div class="bg-purple">
  <div class="medium-container">
    <div class="footer">

      <div class="p-x p-y">
        <h4>Everything for Bands</h4>
        <div class="m-t">
          <span> We care for our Bands</span>
          <br> Artists and Musicians can buy, sell, exchange second hand music 
          instruments in your city.<br> Find Band members as per your need.
        </div>
      </div>
      <div class="p-x p-y">
        <h6>Find us at</h6>
        <address class="m-t">
          RZ 154,
          <br> Main Jagadamba Rd, Kalkaji near Tara Apartment
          <br> New Delhi - 110019
        </address>
        <span>Email: e4bands@gmail.com</span>
      </div>

      <div class="p-x p-y">
        <h6>Main Menu</h6>
        <ul class="link-list">
          <li class="link-item" routerLink="buy">Buy</li>
          <li class="link-item" routerLink="exchange">Exchange</li>
          <li class="link-item" routerLink="band">Form Band</li>
        </ul>
      </div>

      <div class="p-x p-y">
        <h6>Other Links</h6>
        <ul class="link-list">
          <li class="link-item" routerLink="about">About</li>
          <li class="link-item" routerLink="contact">Contact</li>
          <li class="link-item"><a href="https://www.facebook.com/e4bands/">Facebook</a></li>
        </ul>
      </div>

    </div>
    <div class="footer footer-bottom">
      <div>&#169; 2017 Everything for Bands</div>
      <div>All Rights Reserved.</div>
    </div>
  </div>
</div>