<div class="medium-container min-height-pad">

  <div class="sell-not-login" *ngIf="!loggedIn" style="text-align: center;">
    <h2>You must be logged In to sell your Instrument.</h2>
    <button class="btn btn-purple" routerLink="/login">Login</button>
  </div>

  <div class="m-t-xl" *ngIf="loggedIn" style="text-align: center;">
    <h3>What you wanna do </h3>
    <button class="btn-white m-r" [ngClass]="{'active' : isSelling}" (click)="isSelling=true; isExchanging=false;">Sell for a price</button>
    OR
    <button class="btn-white m-l-md" [ngClass]="{'active' : isExchanging}" (click)="isSelling=false; isExchanging=true;">Exchange for something similar</button>
  </div>

  <ng-container *ngIf="loggedIn && isSelling">
    <div class="res-grid p-y-md m-t-xl">

      <div class="one-half m-b">
        <h2 style="text-align: center;">Product Preview</h2>
        <div class="product-card preview">
          <div class="img-container">
            <img src="assets/img/no-product-img.jpg">
          </div>

          <div class="info">
            <div class="type">{{createProductForm.controls.category.value ? createProductForm.controls.category.value : "Guitar"}}</div>
            <div class="price">&#x20b9; {{createProductForm.controls.price.value ? createProductForm.controls.price.value : 5000}}</div>
          </div>
          <div class="info">
            <div class="user">{{soldByUserName}}</div>
            <div class="location">{{createProductForm.controls.city.value ? createProductForm.controls.city.value : "Mumbai"}}</div>
          </div>

          <div class="title">{{createProductForm.controls.name.value ? createProductForm.controls.name.value : "Electric Guitar"}}</div>
          <div class="description">{{createProductForm.controls.description.value ? createProductForm.controls.description.value : "I want to sell
            my Electric Guitar"}}</div>
        </div>

      </div>

      <div class="one-half">
        <h2>Sell Your Instrument</h2>
        <form [formGroup]="createProductForm" (ngSubmit)="createProduct(createProductForm.value)">

          <!--============  NAME  =========================-->
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control input-md" placeholder="Electric Guitar RXj5" formControlName="name">
          </div>

          <!--============  CATEGORY  =========================-->
          <div class="form-group">
            <label>Choose a Instrument Type*</label>
            <select class="form-select select-md" formControlName="category">
              <option *ngFor="let cat of (cats | async)?.instrument_types" [ngValue]="cat">{{cat}}</option>
            </select>
          </div>

          <!--============  PRICE  =========================-->
          <div class="form-group">
            <label>Price (INR)</label>
            <input type="number" class="form-control input-md" placeholder="5000" formControlName="price">
            <span class="el-sm">Provide a price minimum of Rs. 100</span>
          </div>


          <!--============  DESCRIPTION  =========================-->
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" placeholder="I have bought this guitar 5 years ago. 
              Tuning is good, colors have fainted a bit." formControlName="description">
            </textarea>
            <span class="el-sm">Type a minimum of 30 characters</span>
          </div>

          <!--============  SPECS  =========================-->
          <h4>Provide Some Specs</h4>

          <!--============  AGE  =========================-->
          <div class="form-group">
            <label>How Old is your Product (Required)</label>
            <input type="number" class="form-control input-md" placeholder="5" formControlName="age">
            <span class="el-sm">Minimum: 1 year Maximum: 30years. Choose one if less than one year</span>
          </div>

          <!--============  COLOR  =========================-->
          <div class="form-group">
            <label>Color (Optional)</label>
            <input type="text" class="form-control input-md" placeholder="Midnight Blue" formControlName="color">
          </div>

          <!--============  MATERIAL  =========================-->
          <div class="form-group">
            <label>Material (Optional)</label>
            <input type="text" class="form-control input-md" placeholder="Wooden" formControlName="material">
          </div>

          <!--============  BRAND  =========================-->
          <div class="form-group">
            <label>Brand (Optional)</label>
            <input type="text" class="form-control input-md" placeholder="Yamaha" formControlName="brand">
          </div>

          <!--============  USERS  =========================-->
          <h4>Tell us about Yourself</h4>

          <!--============  MOBILE  =========================-->
          <div class="form-group">
            <label>Your Name</label>
            <span>{{soldByUserName}}</span>
          </div>

          <!--============  CITY  =========================-->
          <div class="form-group">
            <label>Select Your City</label>
            <select class="form-select select-md" formControlName="city">
              <option *ngFor="let city of (cats | async)?.cities" [ngValue]="city">{{city}}</option>
            </select>
          </div>

          <!--============  MOBILE  =========================-->
          <div class="form-group">
            <label>Mobile Number (+91-)</label>
            <input type="number" class="form-control input-md" placeholder="9812398123" formControlName="mobile">
          </div>

          <div class="form-group">
            <label>Product Image</label>
            <span>You can upload image after creating the Product, click button below to create your product.</span>
          </div>

          <!--============  SUBMIT  =========================-->
          <!-- [disabled]="(!createProductForm.valid || !imageUploaded) ? true : false" -->
          <button type="submit" class="btn btn-green" value="Submit Form" [disabled]="!createProductForm.valid">
            Add Product to E4Bands
          </button>


        </form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="loggedIn && isExchanging">
    <div class="res-grid p-y-md m-t-xl">

      <div class="one-half m-b">
        <h2 style="text-align: center;">Exchange Product Preview</h2>
        <div class="product-card preview">
          <div class="img-container">
            <img *ngIf="!imageURL" src="assets/img/no-product-img.jpg">
          </div>

          <div class="info">
            <div class="type">{{createExchangeProductForm.controls.category.value ? createExchangeProductForm.controls.category.value : "Guitar"}}</div>
          </div>
          <div class="info">
            <div class="user">{{soldByUserName}}</div>
            <div class="location">{{createExchangeProductForm.controls.city.value ? createExchangeProductForm.controls.city.value : "Mumbai"}}</div>
          </div>

          <div class="title">{{createExchangeProductForm.controls.name.value ? createExchangeProductForm.controls.name.value : "Electric Guitar"}}</div>
          <div class="title">{{createExchangeProductForm.controls.exchangeWith.value ? createExchangeProductForm.controls.exchangeWith.value
            : "Another Electric Guitar"}}</div>
          <div class="description">{{createExchangeProductForm.controls.description.value ? createExchangeProductForm.controls.description.value :
            "I want to sell my Electric Guitar"}}</div>
        </div>

      </div>

      <div class="one-half">
        <h2>Exchange Your Instrument</h2>
        <form [formGroup]="createExchangeProductForm" (ngSubmit)="createExchangeProduct(createExchangeProductForm.value)">

          <!--============  NAME  =========================-->
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control input-md" placeholder="Electric Guitar RXj5" formControlName="name">
          </div>

          <!--============  IMAGE  
          <div class="form-group">
            <label>Product Image</label>
            <input type="file" class="hidden inputfile"
              accept="image/*" 
              name="exchangeProductImg" id="exchangeProductImg" 
              (change)="uploadImg($event)">
            <label for="exchangeProductImg" [class.success]="imageUploaded">Upload Product Image</label>
            <span *ngIf="imageName">Image - {{imageName}}</span>
          </div>
          <div *ngIf="progress" class="progress">
            <div class="bar" [style.width]="progress + '%'"></div>
            <span *ngIf="!(progress===100)" class="text">Uploading {{progress}}% Complete</span>
            <span *ngIf="progress===100" class="text">Hurray! Image has been uploaded</span>
          </div>=========================-->

          <!--============  CATEGORY =========================-->
          <div class="form-group">
            <label>Choose a Instrument Type</label>
            <select class="form-select select-md" formControlName="category">
              <option *ngFor="let cat of (cats | async)?.instrument_types" [ngValue]="cat">{{cat}}</option>
            </select>
          </div>

          <!--============  DESCRIPTION  =========================-->
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" placeholder="I have bought this guitar 5 years ago. 
              Tuning is good, colors have fainted a bit." formControlName="description">
            </textarea>
            <span class="el-sm">Type a minimum of 30 characters</span>
          </div>

          <!--============  SPECS  =========================-->
          <h4>Provide Some Specs</h4>

          <!--============  AGE  =========================-->
          <div class="form-group">
            <label>How Old is your Product (Required)</label>
            <input type="number" class="form-control input-md" placeholder="5" formControlName="age">
            <span class="el-sm">Minimum: 1 year Maximum: 30years. Type 1 if less than one year</span>
          </div>

          <!--============  COLOR  =========================-->
          <div class="form-group">
            <label>Color (Optional)</label>
            <input type="text" class="form-control input-md" placeholder="Midnight Blue" formControlName="color">
          </div>

          <!--============  MATERIAL  =========================-->
          <div class="form-group">
            <label>Material (Optional)</label>
            <input type="text" class="form-control input-md" placeholder="Wooden" formControlName="material">
          </div>

          <!--============  BRAND  =========================-->
          <div class="form-group">
            <label>Brand (Optional)</label>
            <input type="text" class="form-control input-md" placeholder="Yamaha" formControlName="brand">
          </div>

          <!--============  USERS  =========================-->
          <h4>Tell us about Yourself</h4>

          <!--============  MOBILE  =========================-->
          <div class="form-group">
            <label>Your Name</label>
            <span>{{soldByUserName}}</span>
          </div>

          <!--============  CITY  =========================-->
          <div class="form-group">
            <label>Select Your City</label>
            <select class="form-select select-md" formControlName="city">
              <option *ngFor="let city of (cats | async)?.cities" [ngValue]="city">{{city}}</option>
            </select>
          </div>

          <!--============  MOBILE  =========================-->
          <div class="form-group">
            <label>Mobile Number (+91-)</label>
            <input type="number" class="form-control input-md" placeholder="9812398123" formControlName="mobile">
          </div>

          <!--============  EXCHANGE WITH  =========================-->
          <h4>Exchange With</h4>
          <div class="form-group">
            <label>Exchange With Instrument (Required)</label>
            <input type="text" class="form-control input-md" placeholder="Another Guitar" formControlName="exchangeWith">
          </div>

          <!--============  EXCHANGE INFO  =========================-->
          <div class="form-group">
            <label>Exchange Info (Required)</label>
            <textarea class="form-control" placeholder="Anything similar to Electric Guitar RXj5 like Trembolo." formControlName="exchangeInfo">
            </textarea>
            <span class="el-sm">Type a minimum of 30 characters</span>
          </div>

          <div class="form-group">
            <label>Product Image</label>
            <span>You can upload image after creating the Product, click button below to create your product.</span>
          </div>
          <!--============  SUBMIT  =========================-->
          <!-- [disabled]="(!createExchangeProductForm.valid || !imageUploaded) ? true : false">-->
          <button type="submit" class="btn btn-green" value="Submit Form" [disabled]="!createExchangeProductForm.valid">
            Add Exchange Product to E4Bands
          </button>

        </form>
      </div>
    </div>

  </ng-container>

</div>