<div class="small-container">


  <div class="about">

    <h1> About Us</h1>

    <h2>
      E4b is all about musicians - Our aim is to connect musicians and increase the 
      number of bands as well as gigs or events.
    </h2>

    <p>
      As our name says everything for bands means we exist for you only.
      We know what bands want exactly. 
    </p>

    <p>
      E4b connects local musicians to buy, sell or exchange used musical instrument in your city
      and form bands easily with us by making it fast and easy for anyone to post a listing through their
      mobile phone or on the web.
    </p>
    
    <p>
      we have created portal for bands and musicians only. We care about you.
    </p>
    <p><strong>
      Want to buy your first guitar? We’re here for you.
    </strong></p>
      
  </div>
</div>




