<section class="masthead">
  <div class="medium-container">
    <div class="res-grid p-y-md">
      <div class="one-half p-x m-t-xl hero-half">
        <h1 class="hero-title">Everything for Bands </h1>
        <h2> A site for all needs of a music band.</h2>
        <p class="hero-sub-title">Bands and Musicians can buy, sell, 
          exchange second hand music instruments in your city. 
          Find Band members as per your need.</p>
        <button class="btn-white btn-md m-t-md m-r" routerLink="buy">Buy Products</button>
        <button class="btn-blue btn-md m-t-md m-r" routerLink="band">View Artists</button>
        <button class="btn-green btn-md m-t-md" routerLink="sell">Sell Products</button>
        <ul class="fbox m-t-md">
          <span class="m-r">Other Links</span>
          <li class="clickable m-r" routerLink="exchange">View Exchange Products</li>
          <li class="clickable" routerLink="create-artist">Create Artist</li>
        </ul>
        <ul class="fbox m-t">
          <span class="m-r">Social Links</span>
          <li class="m-r"><a href="https://www.facebook.com/e4bands/">Facebook</a></li>
        </ul>
        
      </div>
      <div class="one-half p-x m-t-xl hero-img">
        <img src="assets/img/logo.jpg">
      </div>
    </div>
  </div>
</section>

<section class="flash">
  <div>Buy, sell and exchange used musical instruments</div>
  <div>It`s easy to form band now</div>
  <div>Find band member as per your need</div>
  <div>We connect musicians through our services</div>
  <div>We care for our bands and musicians</div>
  <div>We exist for you</div>
  <div>We exist by you</div>
  <div>Everything for bands</div>
</section>

<div class="small-container">
  <h3>
    E4b is the India's first service to help bands and musicians on every aspects. 
  </h3>
  <p class="home-p">
    E4b's online marketplace to find and sell a wide range of music instruments,
    including guitar, bass guitar, drum kits, keyboards, mics, mixing consoles, 
    stands, music accessories and many more.
  </p>
  <p class="contact-home">
    Making a complaint, giving a compliment or offering a suggestion can help us improve our service.<br>
    You can send us mail for any concern or improvements.<br>
    Email id : e4bands@gmail.com
  </p>
</div>